
.jumbotron {
	background-image: url(../images/jumbo.jpg);
	color: white;
	font-weight: bolder;
	font-size: x-large;
	text-align: center;
}

#directions {
	background-color: #f5f5dc;
}

#counter {
	background-color: pink;
	border: 1px solid gray;
}

#scoreboard {
	background-color: yellow;
}

#crystals {
	background-color: pink;
	border-style: dashed;
	border-color: #545454;

}

#scoreboard, #banner, #wins, #losses, #targetScore, #userScore {
	padding: 8px;
}

