
.jumbotron {
}

#directions {
	background-color: #f5f5dc
}

#counter {
	background-color: pink;
	border: 1px solid gray;
}

#scoreboard {
	background-color: yellow;
}

#crystals {
	background-color: pink;
}

